---
---
*{
    padding: 0;
    margin: 0;

}
.nav{
    
    padding: 1em;
}
.nav ul {
display: flex;
list-style: none;

justify-content: flex-end;
}
.nav ul li a{
    font-size: 1.5em;
    padding: 1em;
    color: white;
    text-decoration: none;
}
.header {

    margin-top: 1em;
    margin:1em   auto;
    background-image: url('{{site.base-url}}/images/cover.jpg');
    color: white;
    width: 70%;
    border-radius: 0.5em;
    padding-bottom: 4em;
    box-shadow: 1em black;

}
.bottom-nav{
    display: flex;
    justify-content: center;
    padding: 7em;
}