<div class="footer">
        <div class="nav">
                
                <ul>
                <h4>Quick Links</h4>
                    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                    <li><a href="{{site.baseurl}}/history.html">History</a></li>
                    <li><a href="{{site.baseurl}}/contacts.html">Contacts</a></li>
                    <li><a href="{{site.baseurl}}/about.html">About</a></li>
                </ul>
                <div class="address">
                <h4>Address</h4>
                       <p>1293, Wakakichomotobe Street, Takeo-shi</p>
                       <p>Japan</p> 
                       <p>kendamaco@ken.com</p> 
                       <p>(81) 89 036 7460</p> 
                </div>
                <div class="social">
                        <h4>Follow us</h4>
                        <p><a href=""><i class="fab fa-facebook-square"></i></a></p>
                        <p><a href=""><i class="fab fa-instagram"></i></a></p>
                        <p><a href=""><i class="fab fa-twitter-square"></i></a></p>

                </div>
        </div>
        <hr>
        <p>	&copy; 2019 Kendama Nation</p>
       
      
</div>