@import "responsive.scss";

.footer{
    padding: 1em;
    text-align: center;
    font-size: 0.7em;
      p{
    color: rgb(165, 165, 165);
    margin: 0.2em;
    }
    background-color: black;
    .nav{
        display: flex;
        justify-content: space-around;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                list-style: none;
                margin: 0.2em;
                a{
                    text-decoration: none;
                    color: rgb(165, 165, 165);
                    font-size: 1em;
                    
                }
            }
        }
      
    }
}

hr{
    color: rgb(165, 165, 165);
    size: 2em;
    margin: 1em;
}
h4{
    color:rgb(165, 165, 165);
    font-size: 1.5em;
}
.social{
    a{
        color: rgb(165, 165, 165);
font-size: 1.5em;
    }   
}
@include bp(phone){
    .footer{
        font-size: 0.8em;
        .nav{
            display: block;
            .address{
                margin: 2.5em;
            }
        }
}
}