@media (max-width: 1024px){
body {

}
.index-wrapper{
  width: 90%;
  grid-gap: 1em;
  grid-template-rows: repeat(auto-fit, 3, 1fr);
  grid-template-columns: repeat(auto-fit, 2, 1fr);
    
  .tall{
    grid-row: span 1;
    grid-column: span 2;
  }
  .small{
    grid-row: span 1;
    grid-column: span 1;
  }
  .wide{
    grid-row: span 1;
    grid-column: span 2;
  }
    
}

.box{
  margin-bottom: 1em; 

  text-align: left;
}
.small-picture{

}

    .site-nav{
        display: block;
        
        margin: auto;
    }
    .cover{
      
    }
    .home{ 
      background-position: right;
      text-align: center !important;
  }
  .map-box{
    margin: 10%;

  }
  .center-box{
    margin:5%;
    margin-top:5em;
    margin-bottom:5em;


  }
  .form-box{
    input[type=text], select {
    width: 14em;
  }
      textarea{
    font-size: large;
    width: 14em;
    padding: 12px 20px;
    margin: 8px 0;
}
  }


}
@media (max-width: 600px) {
    body {
      
    }
    .history-wrapper{
      grid-template-columns: repeat(11,1fr) ;
      grid-template-areas: 
        "header header header header header header header  header header header header  "
        " . main main main main main main main  main main .  ";
    }
    .index-wrapper{
        
      display: block;
      align-items: center;
      
   
    
    }
    .site-nav{
      text-align: center;
      font-size: 0.9em;
      a{
        margin: 0 !important;
      }
      ul{
        display: flex;
        justify-content: center;
        
      }
      
    }
    .map-box{
      margin: 5%;
  
    }
    .center-box{
    margin: 8%;
    margin-bottom:4em;
    margin-top:4em;
  }
  .form-box{
    input[type=text], select {
    width: 10em;
  }
  textarea{
    width: 10em;
  }
}
  
  }
