@media (max-width: 1000px){
    body {

        
        
      }
.index-wrapper{
    grid-template-columns: repeat(9,1fr) ;
    grid-template-areas: 
      "header  header header header header header header header header  "
      " . main main main main main main main .  "
      " . embed embed embed embed embed embed embed .  ";
    }
    .box{
        margin-bottom: 5em; 
        min-height: 20em;
        text-align: left;
        h1{ 
          
        }
        p{

        }
    }

    .site-nav{
        display: block;
        
        margin: auto;
    }
    .cover{
      
    }
    .home{ 
      background-position: right;
      text-align: center !important;
  }
  .map-box{
    margin: 10%;

  }
}
@media (max-width: 600px) {
    body {
      
    }
    .site-nav{
      text-align: center;
      font-size: 1em;
      a{
        margin: 0 !important;
      }
      ul{
        display: flex;
        justify-content: center;
        
      }
      
    }
    .map-box{
      margin: 5%;
  
    }
    
  }