
html{
    font-family: "Open Sans", sans-serif;
}

.cover{

    background: linear-gradient(rgba(255, 255, 255, 0.329), rgba(0, 0, 0, 0.2)), url("https://i.ytimg.com/vi/Ljo4C9Uh0Eg/maxresdefault.jpg") no-repeat ;
    background-size: cover;
    color: white;

    
    padding: 9em;
    font-size: 1.5em;
    &:hover {
         opacity: 40%;
    transition: 0.5s;
    }

 
}
.cover :hover{
   
   
}
.cover h1{
        
}
.main-info{
    
    margin:  auto;
    font-size: 1.4em;
    background-image: url("{{site.base-url}}/images/background.jpg");
   
}
.div1{

    
    background-image: linear-gradient(to right, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
 
    
    padding: 1em;
    grid-area: main;
    margin-top: -5em;

    &:hover {
      
        opacity: 30%;

   }

}
.div1 h2{
    font-size: 2em;
}
.div1 p{
    font-size: 1.4em;
}
.cover{
    grid-area: header;

}
.cover h1{
    text-align: center;
}

.div2{
    grid-area: nav;
    background-image: linear-gradient(to right, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
    border: solid rgb(43, 43, 43) 0.1em;
    border-radius: 0.3em;
    padding: 1em;
    margin-top: -5em;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(9,1fr) ;
    grid-template-areas: 
      "header  header header  header header  header header  header header "
      " . main main main main     nav nav nav .  ";
      grid-gap: 2em;

    
}